body{
    /* background-color: #333;
    color: #fff; */
    font-family: 'Source Sans Pro', sans-serif;
}
.border-bottom-color{
    width:70px;
    height:5px;
    background-color: burlywood;
}
.box-dev{
    border :2px solid burlywood;
    border-radius : 5px;
    padding:30px;
}
a.link-active {
    color: #f16821 !important;
}
@media (max-width: 575.98px) { 
    h1{
        font-size : 30px;
    }
    .border-bottom-color{
        width: 50px;
        height: 4px;
    }
}
.sliderAbove{
    position: absolute;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    background-color: rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h3brand a{
    font-size: 30px;
    color: #f16821 !important;
}
.unit-4-icon .text-primary{
    color: #f16821 !important;
}
p a.active{
    color: #f16821 !important;
}